html { background: #FFFFFF; }

  @font-face {
    font-family: "Computer Modern";
    src: url('http://mirrors.ctan.org/fonts/cm-unicode/fonts/otf/cmunss.otf');
  }
  @font-face {
    font-family: "Computer Modern";
    src: url('http://mirrors.ctan.org/fonts/cm-unicode/fonts/otf/cmunsx.otf');
    font-weight: bold;
  }
  @font-face {
    font-family: "Computer Modern";
    src: url('http://mirrors.ctan.org/fonts/cm-unicode/fonts/otf/cmunsi.otf');
    font-style: italic, oblique;
  }
  @font-face {
    font-family: "Computer Modern";
    src: url('http://mirrors.ctan.org/fonts/cm-unicode/fonts/otf/cmunbxo.otf');
    font-weight: bold;
    font-style: italic, oblique;
  }

.xlink {cursor:default}

body {
    font: "Computer Modern", sans-serif;
}

a       { color: #000; text-decoration: none; }
a:hover { color: #19195D; }

div { float: right; margin-left: 0px; }
/*img { border: none; }

/* resize images */
.container img {
    width: 75%;
    height: auto;
    border: none;
}

em,dt { font-style: italic; }

dd i { display: none; } /* spam obfuscation */



